<td>{{title}}</td>
<td  style="text-align:right"> 
    <a class="btn btn-success btn-small" href="/dashboards/edit/{{id}}"><i class="icon-pencil"></i> Edit</a>
    <a class="btn btn-danger btn-small delete-button" href="#"><i class="icon-trash"></i> Delete</a>
</td>

