<td>{{title}}</td>
<td  style="text-align:right"> 
    <a class="btn btn-success btn-small" href="#/dashboards/view/{{id}}"><i class="icon-pencil"></i> View Dashboard</a>
    <a class="btn btn-danger btn-small delete-button" href="#"><i class="icon-trash"></i> Delete</a>
</td>

