<div class="row-fluid">
    <div class="span12">
        <a class="btn btn-success right" href="#/widgettypes/new"><i class="icon-plus"></i> Create Widget Type</a>
        <h2>Widget Types</h2>
        <table class="table  table-striped table-hover" id="tpllist">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Handler</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

