 


    <div class="container">

      <div class="masthead">
        <h3 class="muted">Project name</h3>
        <div id="header-container" class="navbar">
          
        </div><!-- /.navbar -->
      </div>

     

     <div class="container outer-container">
  <div class="my-container" id="my-container">
  </div>
</div>
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->