<div class="well form-horizontal">
	<h4>Edit Widget</h4>
 <div class="control-group">
                    <label for="Datasource" class="control-label">Datasource</label>
                    <div class="controls">
                        <input type="text" id="Datasource" value="{{datasource_id}}" class="field" data-name="datasource_id" />
                    </div>
                </div>

</div>